node_modules/
*.env
env.ts
3.md

# Üst dizin dosyaları
../*
!../aikadin/

# Oyun projesi
../oyun3/

# Sistem dosyaları
../.DS_Store
../.Trash/
../.CFUserTextEncoding
../.ServiceHub/
../.adobe/
../.android/
../.anydesk/
../.app-store/
../.aspnet/
../.cache/
../.chatgpt/
../.cocoapods/
../.codeium/
../.config/
../.cups/
../.cursor/
../.dart-tool/
../.dartServer/
../.dotnet/
../.expo/
../.fl69B96149
../.flutter
../.gem/
../.git-credentials
../.gitconfig
../.lesshst
../.local/
../.npm/
../.npmrc
../.nuget/
../.nuuid.ini
../.pub-cache/
../.ssh/
../.swiftpm/
../.trae-aicc/
../.trae/
../.vim/
../.viminfo
../.vscode/
../.windsurf/
../.zprofile
../.zsh_history
../.zsh_sessions/
../.zshrc

# Diğer projeler
../111/
../Applications/
../CascadeProjects/
../Creative Cloud Files*/
../DW.GlobalDefines.inc
../Desktop/
../Documents/
../Downloads/
../KochaMentor/
../Library/
../Movies/
../Music/
../Pictures/
../Public/
../Sites/
../ai-proxy/
../backup.log
../başarılar/
../development/
../fittakip2/
../kahveai/
../kalori/
../kisiai/
../package-lock.json
../sevgili/
../turizmtasarimcisi/
../yedek/
